.connection {
	padding-top: 117px;
	padding-bottom: 100px;
	border-bottom: 1px solid #a9b2b5;
	&__wrap {
		max-width: 540px;
		margin: 0px auto;
		text-align: center;
	}
	&__title {
		font-weight: 500;
		font-size: 52px;
		line-height: 100%;
		letter-spacing: -0.04em;
		color: #141516;
		span {
			display: inline-block;
			position: relative;
			z-index: 10;
			&:after {
				content: "";
				position: absolute;
				width: 202px;
				height: 14px;
				background-image: url(../img/connection/icon.svg);
				background-repeat: no-repeat;
				background-size: contain;
				left: 0px;
				bottom: -15px;
			}
		}
	}
	&__desc {
		font-size: 20px;
		line-height: 160%;
		color: #141516;
		opacity: 0.6;
		margin-top: 50px;
		margin-bottom: 39px;
	}
	&__btn {
		i {
			background-color: transparent;
			svg {
				width: 15px;
				height: 15px;
				.connection__btn-line {
					fill: #da251d;
				}
				.connection__btn-bg {
					fill: #fff;
				}
			}
		}
		&:hover {
			i {
				background-color: transparent;
				svg {
					.connection__btn-line {
						fill: #fff;
					}
					.connection__btn-bg {
						fill: #b90207;
					}
				}
			}
		}
	}
}
@media (max-width: 1318px) {
	.connection {
		&__title {
			font-size: 45px;
			span {
				&:after {
					width: 100%;
					height: 10px;
					bottom: -10px;
				}
			}
		}
	}
}
@media (max-width: 1010px) {
	.connection {
		padding-top: 80px;
		padding-bottom: 60px;
		&__wrap {
			max-width: 470px;
		}
		&__desc {
			font-size: 18px;
			margin-top: 30px;
			margin-bottom: 25px;
		}
	}
}
@media (max-width: 760px) {
	.connection {
		&__title {
			font-size: 36px;
			span {
				&:after {
					width: 100%;
					height: 10px;
					bottom: -10px;
				}
			}
		}
		&__desc {
			font-size: 16px;
			margin-top: 30px;
			margin-bottom: 25px;
		}
	}
}
