.footer {
	padding: 16px 20px 15px 22px;
	background-color: #efefef;
	font-family: "SF Pro Display", sans-serif;
	font-size: 10px;
	line-height: 100%;
	color: #5f6266;
	&__confidentiality {
		color: #5f6266;
	}
	&__developer {
		color: #136ee6;
	}
}
@media (max-width: 1318px) {
}
@media (max-width: 1010px) {
}
@media (max-width: 760px) {
	.footer {
		padding: 16px 15px;
		&__wrap {
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
		}
		&__confidentiality {
			width: 100%;
			margin-bottom: 10px;
		}
		&__developer {
			width: 100%;
			margin-top: 10px;
		}
	}
}
