.footer {
	padding: 16px 20px 15px 22px;
	background-color: #efefef;
	font-family: "SF Pro Display", sans-serif;
	font-size: 10px;
	line-height: 100%;
	color: #5f6266;
	&__confidentiality {
		color: #5f6266;
	}
	&__developer {
		color: #136ee6;
	}
}
@media (max-width: 1318px) {
}
@media (max-width: 1010px) {
}
@media (max-width: 760px) {
}
