.modal {
	width: 425px;
	padding: 40px 65px 55px;
	margin: 50px 15px;
	background-color: #ffffff;
	border-radius: 20px;
	&__closed {
		position: absolute;
		width: 40px;
		height: 40px;
		background-color: #ebe7e7;
		border-radius: 10px;
		top: 10px;
		right: 10px;
		cursor: pointer;
		svg {
			width: 20px;
			height: 20px;
			object-fit: contain;
			display: block;
			& * {
				transition: all 0.3s;
			}
		}
		&:hover {
			svg {
				& * {
					fill: #d01218;
					transition: all 0.3s;
				}
			}
		}
	}
}
@media (max-width: 760px) {
	.modal {
		width: calc(100% - 30px);
		padding: 40px 20px 40px;
	}
}
