.modal {
	width: 425px;
	padding: 40px 65px 55px;
	margin: 50px 15px;
	background-color: #ffffff;
	border-radius: 20px;
	&__closed {
		position: absolute;
		width: 40px;
		height: 40px;
		background-color: #ebe7e7;
		border-radius: 10px;
		top: 10px;
		right: 10px;
		cursor: pointer;
		svg {
			width: 20px;
			height: 20px;
			object-fit: contain;
			display: block;
			& * {
				transition: all 0.3s;
			}
		}
		&:hover {
			svg {
				& * {
					fill: #d01218;
					transition: all 0.3s;
				}
			}
		}
	}
}
@media (max-width: 760px) {
	.modal {
		width: calc(100% - 30px);
		padding: 40px 20px 40px;
	}
}

/************    notice     *************/
.notice {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	text-align: center;
	z-index: 9999999;
	padding: 27px 0;
	font-size: 22px;
	transform: translateY(80px);
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
	opacity: 0;
	margin-top: -60px;
	a {
		color: white;
	}
	&_warning {
		background: #181c19;
		color: white;
	}
	&_success {
		background-color: #28a745;
		color: white;
	}
	&_top {
		top: 0;
		bottom: auto;
	}
	&.active {
		transform: translateY(0px);
		transition: -webkit-transform 0.3s;
		transition: transform 0.3s;
		transition: transform 0.3s, -webkit-transform 0.3s;
		opacity: 1;
	}
}
@media (max-width: 760px) {
	.notice {
		padding: 20px 0;
		font-size: 18px;
	}
}
