.social {
	padding-top: 32px;
	padding-bottom: 31px;
	&__caption {
		font-family: "SF Pro Display", sans-serif;
		font-size: 12px;
		line-height: 100%;
		text-align: center;
		color: #5f6266;
		margin-bottom: 15px;
	}
	&__link {
		& + & {
			margin-left: 15px;
		}
		display: block;
		width: 30px;
		height: 30px;
		background-repeat: no-repeat;
		background-size: contain;
		transition: all 0.3s;
		&--fb {
			background-image: url(../img/social/facebook.svg);
			&:hover {
				background-image: url(../img/social/facebook-hover.svg);
				transition: all 0.3s;
			}
		}
		&--inst {
			background-image: url(../img/social/instagram.svg);
			&:hover {
				background-image: url(../img/social/instagram-hover.svg);
				transition: all 0.3s;
			}
		}
		&--yt {
			background-image: url(../img/social/youtube.svg);
			&:hover {
				background-image: url(../img/social/youtube-hover.svg);
				transition: all 0.3s;
			}
		}
		&--hz {
			background-image: url(../img/social/houz.svg);
			&:hover {
				background-image: url(../img/social/houz-hover.svg);
				transition: all 0.3s;
			}
		}
		&--pt {
			background-image: url(../img/social/pinterest.svg);
			&:hover {
				background-image: url(../img/social/pinterest-hover.svg);
				transition: all 0.3s;
			}
		}
	}
}
@media (max-width: 1318px) {
}
@media (max-width: 1010px) {
}
@media (max-width: 760px) {
}
