.training {
	background-color: #0d1214;
	padding-top: 172px;
	padding-bottom: 171px;
	&__top {
		align-items: flex-start;
	}
	&__left {
		max-width: 755px;
		margin-left: 4px;
	}
	&__title {
		color: #a9b2b5;
		margin-top: 20px;
		margin-bottom: 32px;
	}
	&__desc {
		font-size: 18px;
		line-height: 130%;
		color: #7e858e;
	}
	&__right {
		width: 408px;
		height: 251px;
		margin-top: 3px;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		margin-top: 87px;
		margin-left: 3px;
	}
	&__coll {
		width: calc(33.333% - 20px);
		border: 1px solid #252f33;
		padding: 30px 69px 79px 30px;
		&-caption {
			font-weight: 500;
			font-size: 34px;
			line-height: 104%;
			letter-spacing: -0.04em;
			color: #a9b2b5;
			margin-bottom: 20px;
		}
		&-desc {
			font-family: "SF Pro Display", sans-serif;
			font-size: 16px;
			line-height: 164%;
			letter-spacing: 0.01em;
			color: #7e858e;
		}
	}
	&__icon {
		width: 48px;
		height: 48px;
		margin-bottom: 28px;
	}
}
@media (max-width: 1318px) {
	.training {
		padding-top: 120px;
		padding-bottom: 120px;
		&__left {
			max-width: 550px;
			margin-left: 4px;
		}
		&__right {
			width: 380px;
			height: 220px;
			margin-top: 0px;
		}
		&__row {
			margin-top: 70px;
			margin-left: 0px;
		}
		&__coll {
			width: calc(33.333% - 15px);
			padding: 25px 40px 40px 20px;
			&-caption {
				font-size: 30px;
				margin-bottom: 15px;
			}
		}
		&__icon {
			width: 45px;
			height: 45px;
			margin-bottom: 20px;
		}
	}
}
@media (max-width: 1010px) {
	.training {
		padding-top: 100px;
		padding-bottom: 100px;
		&__top {
			flex-wrap: wrap;
		}
		&__left {
			max-width: 80%;
			margin-left: 0px;
			margin-bottom: 30px;
		}
		&__right {
			width: 380px;
			height: 220px;
			margin-top: 0px;
		}
		&__title {
			margin-bottom: 25px;
		}
		&__desc {
			font-size: 16px;
		}
		&__row {
			justify-content: center;
			flex-wrap: wrap;
			margin: 50px -15px -30px;
		}
		&__coll {
			width: calc(50% - 30px);
			padding: 20px 30px 30px 20px;
			margin: 0px 15px 30px;
			&-caption {
				font-size: 30px;
				margin-bottom: 15px;
			}
		}
	}
}
@media (max-width: 760px) {
	.training {
		padding-top: 80px;
		padding-bottom: 80px;
		&__left {
			max-width: 100%;
			margin-bottom: 25px;
		}
		&__right {
			width: 100%;
		}
		&__title {
			margin-bottom: 20px;
		}
		&__desc {
			font-size: 16px;
		}
		&__row {
			justify-content: center;
			flex-wrap: wrap;
			margin: 50px -15px -30px;
		}
		&__coll {
			width: 100%;
			padding: 20px 15px 30px;
			margin-bottom: 15px;
			&-caption {
				font-size: 28px;
			}
		}
		&__icon {
			width: 40px;
			height: 40px;
		}
	}
}
