.video {
	height: 100vh;
	position: relative;
	z-index: 10;
	&__bg {
		width: 100%;
		height: 100%;
		.bg-video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__play {
		position: absolute;
		width: 44px;
		height: 44px;
		left: calc(50% - 22px);
		top: calc(50% - 22px);
		background: #e21219;
		border-radius: 50%;
		transition: all 0.3s;
		&:hover {
			background-color: #b90207;
			transition: all 0.3s;
		}
	}
	&__desc {
		font-family: "SF Pro Display", sans-serif;
		position: absolute;
		width: 100%;
		text-align: center;
		left: 0px;
		bottom: 19px;
		font-size: 9px;
		line-height: 100%;
		color: #ffffff;
		opacity: 0.5;
	}
}
@media (max-width: 1318px) {
}
@media (max-width: 1010px) {
}
@media (max-width: 760px) {
}
