@font-face {
	font-family: "FuturaNew";
	src: url("../fonts/FuturaNewLight/FuturaNewLight.eot");
	src: url("../fonts/FuturaNewLight/FuturaNewLight.eot?#iefix") format("embedded-opentype"),
		url("../fonts/FuturaNewLight/FuturaNewLight.woff") format("woff"),
		url("../fonts/FuturaNewLight/FuturaNewLight.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "FuturaNew";
	src: url("../fonts/FuturaNewBook/FuturaNewBook.eot");
	src: url("../fonts/FuturaNewBook/FuturaNewBook.eot?#iefix") format("embedded-opentype"),
		url("../fonts/FuturaNewBook/FuturaNewBook.woff") format("woff"),
		url("../fonts/FuturaNewBook/FuturaNewBook.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "FuturaNew";
	src: url("../fonts/FuturaNewMedium/FuturaNewMedium.eot");
	src: url("../fonts/FuturaNewMedium/FuturaNewMedium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/FuturaNewMedium/FuturaNewMedium.woff") format("woff"),
		url("../fonts/FuturaNewMedium/FuturaNewMedium.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "FuturaNew";
	src: url("../fonts/FuturaNewDemi/FuturaNewDemi.eot");
	src: url("../fonts/FuturaNewDemi/FuturaNewDemi.eot?#iefix") format("embedded-opentype"),
		url("../fonts/FuturaNewDemi/FuturaNewDemi.woff") format("woff"),
		url("../fonts/FuturaNewDemi/FuturaNewDemi.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "FuturaNew";
	src: url("../fonts/FuturaNewBold/FuturaNewBold.eot");
	src: url("../fonts/FuturaNewBold/FuturaNewBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/FuturaNewBold/FuturaNewBold.woff") format("woff"),
		url("../fonts/FuturaNewBold/FuturaNewBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "FuturaNew";
	src: url("../fonts/FuturaNewExtraBold/FuturaNewExtraBold.eot");
	src: url("../fonts/FuturaNewExtraBold/FuturaNewExtraBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/FuturaNewExtraBold/FuturaNewExtraBold.woff") format("woff"),
		url("../fonts/FuturaNewExtraBold/FuturaNewExtraBold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/Roboto.eot");
	src: url("../fonts/Roboto/Roboto.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Roboto/Roboto.woff") format("woff"), url("../fonts/Roboto/Roboto.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "SF Pro Display";
	src: url("../fonts/SF Pro Display Regular/SF Pro Display Regular.eot");
	src: url("../fonts/SF Pro Display Regular/SF Pro Display Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/SF Pro Display Regular/SF Pro Display Regular.woff") format("woff"),
		url("../fonts/SF Pro Display Regular/SF Pro Display Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "SF Pro Display";
	src: url("../fonts/SF Pro Display Medium/SF Pro Display Medium.eot");
	src: url("../fonts/SF Pro Display Medium/SF Pro Display Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/SF Pro Display Medium/SF Pro Display Medium.woff") format("woff"),
		url("../fonts/SF Pro Display Medium/SF Pro Display Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
