.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
	box-shadow: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	overflow: hidden;
}

.page {
	overflow: hidden;
}

.wrapper {
	max-width: 1318px;
	margin: 0px auto;
	padding: 0px 15px;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-cover img,
.svg-cover svg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img-contain img,
.svg-contain svg {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.logo {
	width: 174px;
	height: 32px;
	display: block;
}

.btn {
	font-family: "FuturaNew", sans-serif;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 17px;
	line-height: 100%;
	color: #ffffff;
	padding: 21px 30px;
	border-radius: 18px;
	background-color: #da251d;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition: all 0.3s;
	i {
		width: 15px;
		height: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		border-radius: 50%;
		margin-left: 8px;
		svg {
			width: 7px;
			height: 7px;
			object-fit: contain;
			display: block;
		}
	}
	img {
		width: 15px;
		height: 15px;
		margin-left: 8px;
	}
	&:hover {
		background: #b90207;
		box-shadow: 0px 76px 80px rgba(0, 0, 0, 0.12), 0px 27.7413px 29.2013px rgba(0, 0, 0, 0.0827978),
			0px 13.4679px 14.1767px rgba(0, 0, 0, 0.0667549), 0px 6.6022px 6.94968px rgba(0, 0, 0, 0.0532451),
			0px 2.61052px 2.74791px rgba(0, 0, 0, 0.0372022);
		transition: all 0.3s;
	}
	&--item {
		border: 1px solid #f3c9ca;
		color: #da251d;
		background-color: transparent;
		i {
			background-color: #da251d;
			svg {
				& * {
					fill: #fff;
				}
			}
		}
		&:hover {
			background: #b90207;
			box-shadow: 0px 76px 80px rgba(0, 0, 0, 0.12), 0px 27.7413px 29.2013px rgba(0, 0, 0, 0.0827978),
				0px 13.4679px 14.1767px rgba(0, 0, 0, 0.0667549), 0px 6.6022px 6.94968px rgba(0, 0, 0, 0.0532451),
				0px 2.61052px 2.74791px rgba(0, 0, 0, 0.0372022);
			color: #fff;
			transition: all 0.3s;
			i {
				background-color: #fff;
				svg {
					& * {
						fill: #b90207;
					}
				}
			}
		}
	}
}

.link {
	display: inline-flex;
	align-items: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 94%;
	color: #d70b12;
	position: relative;
	z-index: 10;
	&__icon {
		width: 15px;
		height: 15px;
		object-fit: contain;
		display: block;
		margin-right: 6px;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__hover {
		position: absolute;
		width: 100%;
		height: auto;
		left: 0px;
		bottom: -10px;
		transition: all 0.3s;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0px;
			right: 0px;
			background-color: #fff;
			transition: all 0.3s;
		}
	}
	&:hover {
		.link__hover {
			&:after {
				width: 0%;
				transition: all 0.3s;
			}
		}
	}
}

.field {
	width: 100%;
	font-family: "FuturaNew", sans-serif;
	background-color: transparent;
	font-weight: 400;
	font-size: 18px;
	line-height: 110%;
	letter-spacing: -0.04em;
	color: #141516;
	padding: 12px 26px 16px;
	border: none;
	border-bottom: 1px solid #a9b2b5;
	position: relative;
	-moz-appearance: none;
	-webkit-appearance: none;
	transition: all 0.3s ease;
	resize: none;
	&::-webkit-input-placeholder {
		color: #5f6266;
	}
	&::-moz-placeholder {
		color: #5f6266;
	}
	&:-moz-placeholder {
		color: #5f6266;
	}
	&:-ms-input-placeholder {
		color: #5f6266;
	}
	&:focus {
		border-color: #5bc16c;
		color: #141516;
	}
}

.title {
	font-weight: 500;
	font-size: 60px;
	line-height: 100%;
	letter-spacing: -0.04em;
	span {
		color: #da251d;
	}
}

.caption {
	font-weight: 500;
	font-size: 12px;
	line-height: 102%;
	letter-spacing: 0.13em;
	text-transform: uppercase;
	color: #aeaeae;
}

.desc {
	font-family: "SF Pro Display", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 164%;
	color: #5f6266;
}

.arrow {
	width: 24px;
	height: 24px;
	cursor: pointer;
	svg {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: contain;
		& * {
			transition: all 0.3s;
		}
	}
	&:hover {
		svg {
			& * {
				fill: #da251d;
				transition: all 0.3s;
			}
		}
	}
}

.slick {
	&__info {
		font-family: "SF Pro Display", sans-serif;
		font-weight: 600;
		font-size: 14px;
		line-height: 100%;
		color: #5f6266;
		margin: 0px 25px;
		span {
			margin: 0px 3px;
		}
	}
}

@media (max-width: 1320px) {
	.wrapper {
		max-width: 1010px;
	}
	.title {
		font-size: 45px;
	}
	.btn {
		font-size: 16px;
	}
}
@media (max-width: 1010px) {
	.wrapper {
		max-width: 750px;
	}
}
@media (max-width: 760px) {
	.title {
		font-size: 36px;
		line-height: 104%;
		letter-spacing: -0.04em;
	}
}
